@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Radio Canada', sans-serif;
    height: 100vh;

    display: grid;
    grid-template-rows: repeat(8, minmax(0,1));
    grid-template-columns: repeat(5, minmax(0,1));  
}

/* Top Menu */
.topMenu {
    background-color: #71C9CE;

    grid-row: 1/2;
    grid-column: 2/5 ;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topMenu .topRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topMenu .topButtons {
    display: flex;
    justify-content: space-between
}

.topMenu .topRight button {
    padding: 3px;
    border-radius: 5px;
    border: 1px gray solid;
    width: 70px;
}

.topMenu input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 150px;
}

.topMenu .input-wrapper {
    position: relative
}

.fa-magnifying-glass {
    color: gray;
    position: absolute; top: 5px; left: 7px; 
}




/* Side Menu */
.sideMenu {
    background-color: #A6E3E9;

    grid-row: 1/9;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;

    padding-top: 50px;
    padding-left: 15px;

    align-items: left;
    gap: 40px;
}

.sideMenu li h2 {
    margin-bottom: 20px;
}

.sideMenu li {
    list-style-type: none;
}

.menu {
    background-color: #E3FDFD;

    grid-row: 2/9;
    grid-column: 2/5 ;
}

.footer {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    padding: 3px;

    text-align: center;
    color: white;
    background-color: black;
}